@use 'reset' as *;
@use 'variables' as *;

#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: $sec-yellow;
    padding-inline: clamp(12px, 1vw, 32px);

    .navDecorateBox {
        flex: 1;
    }

    .logo {
        display: flex;
        justify-content: center;
        flex: 0 auto;
        font-size: $font-size-xxl;
        font-weight: bold;
        font-family: $family-en;
    }

    .navbar {
        flex: 1;

        .menuBox {
            display: flex;
            flex-direction: column; // margin-right: 5%;
            padding: 0 3%;
            white-space: nowrap;

            .menu {
                display: flex;
                width: 80%;
                justify-content: space-between;
                align-self: center;
                gap:clamp(10px,2vw,10px);

                >li {
                    flex: 1;
                }
            }

            >span {
                @media ($mediaLg) {
                    display: none;
                }
            }

            .navDec2 {
                align-self: flex-end;
            }
        }
    }
}

.hamburger {
    background-color: transparent;
    border: none;
    margin-bottom: 10px;

    @media (min-width:971px) {
        display: none;
    }
}