@use 'reset' as *;
@use 'variables' as *;

#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: $sec-yellow;
    padding-inline: clamp(12px, 1vw, 32px);

    .navDecorateBox {
        flex: 1;
    }

    .logo {
        display: flex;
        justify-content: center;
        flex: 0 auto;
        font-size: $font-size-xxl;
        font-weight: bold;
        font-family: $family-en;
    }

    .navbar {
        flex: 1;


        .menuBox {
            max-width: 640px;
            // width: 80%;
            // min-width: 420px;
            display: flex;
            flex-direction: column;
            padding: 0 3%;
            white-space: nowrap;
            margin-left: auto;

            @media ($mediaMd) {
                display: none;
            }

            .menu {
                display: flex;
                justify-content: space-between;
                align-self: center;
                gap: clamp(10px, 2vw, 10px);

                // @media ($mediaLg) {
                //     flex-wrap: wrap;
                // }

                >li {
                    flex: 1;

                }
            }

            >span {
                @media ($mediaLg) {
                    display: none;
                }
            }

            .navDec2 {
                align-self: flex-end;
            }
        }
    }
}

.hamburger {
    @media (min-width:971px) {
        display: none;
    }
}

@media ($mediaMd) {
    .navbar {
        display: flex;
        align-items: center;
    }

    .hamburger {
        background-color: transparent;
        border: none;
        margin-left: auto;
        height: 40px;

        @media (min-width:971px) {
            display: none;
        }

        .bar {
            display: block;
            width: 24px;
            height: 3px;
            background-color: $pri-black;
            margin: 5px auto;
        }

        &.is-active {
            .bar {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 6px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(5px, -6px);
                }
            }
        }
    }

    

    

}